<div>
    <div class="form-group">
        <label for="single">Upload Pdf File</label>
        <input #selectedFile type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
        <button type="button" class="btn btn-success btn-xs"
                        (click)="uploadItem()">
                    <span class="glyphicon glyphicon-upload"></span> Upload
        </button>                                 
     </div>
        <label>File:</label>  
            <select #selectCombo>  
                                     <option value="0">--Select--</option>  
                                     <option *ngFor="let file of filenames"  
                                             [value]="file">  
                                         {{file}}  
                                     </option>  
              </select>
              <button type="button" class="btn btn-success btn-xs"
                        (click)="previewItem(selectCombo.value)">
                    <span class="glyphicon glyphicon-upload"></span> Preview
              </button> 
              <button type="button" class="btn btn-success btn-xs"
                        (click)="downloadItem(selectCombo.value)">
                    <span class="glyphicon glyphicon-upload"></span> Download
              </button>
              <div *ngIf="isPdfPreview" id="previewPdf">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false" [(page)]="pageNumber"></pdf-viewer>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="prevPage()">
                    <span class="glyphicon glyphicon-upload"></span> <<
                </button>
                <button type="button" class="btn btn-success btn-xs"
                        (click)="nextPage()">
                    <span class="glyphicon glyphicon-upload"></span> >>
                </button>
              </div>
</div>  
